<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <title>欢迎登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <!--    <link rel="stylesheet" href="../css/login.css">-->
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
<div style="width:728px;height:90px;margin:0 auto;">

</div>

<div class="page-container">
    <h1>Login</h1>
    <form id="loginForm">
        <input type="text" name="name" class="username" placeholder="Username">
        <input type="password" name="password" class="password" placeholder="Password">
        <!--        <button type="submit">Sign me in</button>-->
        <button type="button" onclick="login()">Sign me in</button>
        <!--        <div class="error"><span>+</span></div>-->
        <span id="mes"></span>
    </form>
</div>
<script type="text/javascript" src="lib/js/jquery.min.js"></script>
<script type="text/javascript" src="lib/js/supersized.3.2.7.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>
</body>

</html>

